<!--The content below is only a placeholder and can be replaced.-->
<div [ngStyle]="{'background':config.fondo,'padding':'3vw','border':'1vw solid black','border-color':config.color
 }">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>{{descripcion}} </p>
<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home </a>
  &nbsp;
  <a [routerLink]="['/tenis']" [routerLinkActive]="['active']">Tenis </a>
  &nbsp;
  <a [routerLink]="['/Videojuegos']" [routerLinkActive]="['active']">Videojuegos </a>
  &nbsp;
  <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos </a>
  &nbsp;
  <a [routerLink]="['/externo']" [routerLinkActive]="['active']">Externo </a>

</nav>
<hr>
<!---
  <zapatillas></zapatillas>
-->
<router-outlet></router-outlet>
</div>