
<h2>Crear Usuario</h2>

<form #newUser='ngForm' (ngSubmit)="onSubmit(newUser)">
  <p>
    <label for="name">Nombre</label>
    <input type="text" name="name" #name="ngModel" [(ngModel)]="new_user.name" required/>
    <span *ngIf="name.touched && !name.valid">Nombre no valido</span>
  </p>
  <p>
      <label for="job">job</label>
      <input type="text" name="job" #job="ngModel" [(ngModel)]="new_user.job" required/>
    </p>
    <input type="submit" value="Guardar usuario" [disabled]="!newUser.form.valid">
    <span *ngIf="job.touched && !name.valid">Trabajo no valido</span>
</form>
<div *ngIf="carga">
<h3>{{carga.createdAt}}</h3>
</div>
<hr>
<label>{{fecha|date:'fullDate'|uppercase}}</label>
<label>{{8|calculadora:2}}</label>
<hr>
<div *ngIf="!usuario" >
  loanding...
</div>

<div *ngIf="usuario">
  <input type="text" [(ngModel)]="userid" (keyup.enter)="cargaUsuarios()"/>
<ul >
<li><span>Usuario {{usuario.id}}: <strong>{{usuario.first_name}} {{usuario.last_name}}</strong></span></li>
<li><span>Email: <strong>{{usuario.email}}</strong></span></li>
<li><img src="{{usuario.avatar}}" width="100px"></li>
</ul>

 <!--<h2>{{usuario[0].first_name}}</h2>-->
</div>
